.auth-form-container span {
  color: red;
}

input,
select {
  padding: 15px;
  margin: 50px;
  border-radius: 7px;
  border: 1px solid gray;
  width: 230px;
}

input[name='description'] {
  height: 10em;
  width: 40em;
}

.login-form label,
.register-form label,
.collection-form label {
  margin: 10px 0 3px;
  text-align: left;
  font-size: 14px;
}

span {
  font-size: 12px;
  padding: 3px;
  display: none;
}

input:invalid[focused='true'] {
  border: 1px solid red;
}

input:invalid[focused='true'] ~ span {
  display: block;
}
