body {
  margin: 0;
  padding: 0;
}

.App {
  background: var(--body_background_color_left);
  background: -webkit-linear-gradient(
    to right,
    var(--body_background_color_left),
    var(--body_background_color_right)
  );
  background: linear-gradient(
    to right,
    var(--body_background_color_left),
    var(--body_background_color_right)
  );
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  border-radius: 6px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teg-cloud {
  padding-left: 2.5em;
  padding-right: 2.5em;
  text-align: center;
  background-color: white;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  border-radius: 6px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
